<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/emprestimo3.css">
    <title>Novo empréstimo</title>
</head>
<body>
    <header>
        <a href="./emprestimo2.html"><img src="../public/assets/caret-left.svg" alt=""></a>
        <p class="title">Gerar novo empréstimo:</p>
    </header>

    <main>
        <div class="progress-bars">

        </div>

        <form class="emprestimo3-form" id="form" action="">
            <p>Adicionar Observação(opcional):</p>
            <input type="text" name="cliente" placeholder="Digite aqui" class="required">
        </form>

    </main>

    <footer class="footer">
        <a href="./emprestimo2.html"><input class="input-finalizar" type="submit" value="Finalizar"></a>

        <div class="icons">
            <a href="./home.html"> <img src="../public/assets/icons8-casa (1).svg" alt=""></a>
            <a href="#"> <img src="../public/assets/icons8-lupa (1).svg" alt=""></a>
            <a href="#"> <img src="../public/assets/icons8-mais (1).svg" alt=""></a>
            <a href="#"> <img src="../public/assets/user.svg" alt=""></a>
        </div>
    </footer>
</body>
</html>