<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <p>Categorias</p>
    </header>

    <main>
        <div class="categorias">
            <div class="livros">
                <a class="livros-a" href="#">Livros</a>
            </div>
    
            <div class="periodicos">
                <a class="periodicos-a" href="#">Periódicos</a>
            </div>
    
            <div class="folhetos">
                <a class="folhetos-a" href="#">Folhetos</a>
            </div>
        </div>

        <div class="botoes">
            <a href="./emprestimo1.html"><input class="input-emprestimo" type="submit" name="submit" value="Novo empréstimo"></a>
            <a href="./devolucao1.html"><input class="input-devolucao" type="submit" name="submit" value="Nova devolução"></a>
        </div>
    </main>

    <footer class="icons">
        <a href="./home.html"> <img src="../public/assets/icons8-casa (1).svg" alt=""></a>
        <a href="#"> <img src="../public/assets/icons8-lupa (1).svg" alt=""></a>
        <a href="#"> <img src="../public/assets/icons8-mais (1).svg" alt=""></a>
        <a href="#"> <img src="../public/assets/user.svg" alt=""></a>
    </footer>
</body>
</html>