<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/pesquisaR.css">
    <title>Document</title>
</head>
<body>
    <header>
        <form id="form" action="">
        <input type="text" placeholder="Pesquise aqui..." class="required" oninput="editorValidate" name="editor_book" id="editor_book">
        </form>
    </header>

    <main>
        <h2 id="livrosD">Pesquisas Recentes:</h2>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </main>

    <footer class="icons">
        <a href="./home.html"> <img src="../public/assets/icons8-casa (1).svg" alt=""></a>
        <a href="#"> <img src="../public/assets/icons8-lupa (1).svg" alt=""></a>
        <a href="#"> <img src="../public/assets/icons8-mais (1).svg" alt=""></a>
        <a href="#"> <img src="../public/assets/user.svg" alt=""></a>
    </footer>
</body>
</html>