@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: 600;
    font-size: 20px;
}

form input[type=text]{
    width: 330px;
    height: 55px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.2);

    font-family: 'Montserrat', sans-serif;
}

select{
    width: 330px;
    height: 55px;
    border-radius: 10px;
    border: none;

    border: 2px solid rgba(0, 0, 0, 0.2);
    /* color: #000000; */
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    

    display: flex;
    justify-content: center;
    align-items: center;

}

p{
    font-weight: 600;
}

form{
    width: 100%;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type=submit]{
    background-color: #561E85;

    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;

    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 0;
    position: fixed;
}

.icons{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}
