@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 600;
}

main{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias{
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.livros, .periodicos, .folhetos{
    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background-color: darkgray;
}

.livros-a, .periodicos-a, .folhetos-a{
    text-decoration: none;
    
    color: #fff;
    font-weight: 800;
    font-size: 35px;
}

.livros{
    background-image: url("../assets/livros\ 1.png");
}

.periodicos{
    background-image: url("../assets/jornais\ 1.png");
}

.folhetos{
    background-image: url("../assets/folheto_blog\ 1.png");
}

.botoes{
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-emprestimo, .input-devolucao{
    width: 300px;
    height: 45px;
}

.input-emprestimo{
    background-color: #561E85;

    border: none;
    border-radius: 8px;

    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.input-devolucao{
    background-color: #3B7906;

    border: none;
    border-radius: 8px;

    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.icons{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
