@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    padding: 10px;
    gap: 5px;

    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
}
.logo img{
    width: 80px;
    height: 60px;
}

.foto-perfil{
    background-color: darkgrey;
    border-radius: 100px;

    width: 180px;
    height: 180px;

}
.user-info{
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.user-info h1{
    font-size: 20px;
    font-weight: 600;

    border-bottom: 3px solid black;
}

.user-estatistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.estatistic-1{
    display: flex;
    align-items: center;
    gap: 50px;
}

.info{
    font-size: 20px;
}

.box1{
    width: 50px;
    height: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #561E85;
}

.box1, .box2, .box3, .box4 p{
    color: white;
    font-size: 20px;
}

.estatistic-2{
    display: flex;
    align-items: center;
    gap: 68px;
}

.box2{
    width: 50px;
    height: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #33A0B8;
}

.estatistic-3{
    display: flex;
    align-items: center;
    gap: 25px;
}

.box3{
    width: 50px;
    height: 50px;
    border-radius:10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3B7906;
}

.estatistic-4{
    display: flex;
    align-items: center;
    gap: 70px;
}

.box4{
    width: 50px;
    height: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B51313;
}

.botoes{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;

    bottom: 0;
    position: fixed;
}